#contact {
  background-color: #023047;
  padding: 20px;
}

.text-aemas{
  display: block;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.column-feedback ::placeholder{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.column-text {
  flex: 1;
  margin-right: 20px;
  color: #fff;
}

.column-feedback {
  flex: 1;
}

.column-feedback form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column-feedback form div {
  margin-bottom: 15px;
}

.column-feedback form label {
  display: flex;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style:normal;
}

.column-feedback form input[type="text"],
.column-feedback form input[type="email"],
.column-feedback form textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.column-feedback form input[type="text"]::placeholder,
.column-feedback form input[type="email"]::placeholder,
.column-feedback form textarea::placeholder {
  color: #999;
  font-style: italic;
}

.column-feedback form button {
  padding: 10px 20px;
  background-color: #023047;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.column-feedback form button:hover {
  background-color: #8ecae6;
}

p {
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
}
