@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Seymour+One&display=swap');

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-out;
  padding: 15px 10px;
}

.logo-title {
  display: flex;
  align-items: center;
}

#logo {
  height: 60px;
  margin-right: 20px;
}

header h1 {
  font-size: 24px;
  margin: 0;
  color: #8ecae6;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

nav {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-left: 20px;
}

nav a:hover {
  color: #219EBC;
  background-color: rgba(255, 255, 255, 0.1);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 1rem;
}

nav a {
  display: block;
  padding: 0.5rem;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

/* Styles on scroll */
.navbar-scrolled {
  background-color: #023047;
}

.navbar-scrolled h1 {
  color: #ffffff;
}

.navbar-scrolled a {
  color: #ffffff;
}

/* Media Queries */

/* For tablets and small desktops */
@media (max-width: 1200px) {
  #logo {
    height: 50px;
    margin-right: 15px;
  }

  header h1 {
    font-size: 22px;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  nav a {
    padding: 0.5rem 1rem;
  }
}

/* For smartphones */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .logo-title {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  header h1 {
    font-size: 20px;
    padding-right: 20px;
  }

  #logo {
    height: 40px;
    padding-left: 10px;
    margin-top: 10px;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
    padding-right: 30px;
  }

  nav {
    display: none;
    width: 100%;
  }

  nav ul {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 5px;
  }

  nav a {
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: left;
  }
}

/* For small smartphones */
@media (max-width: 480px) {
  header {
    padding: 10px 5px;
  }

  header h1 {
    font-size: 18px;
  }

  #logo {
    height: 35px;
  }

  nav a {
    font-size: 14px;
  }
}

/* Hide menu toggle on larger screens */
@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }

  nav {
    display: flex !important;
  }
}
